
:root {
   --eerie-black: #1f1e1e;
   --orange-red-crayola: #FF5C5F;
   --say-hi-hover: #FFFFFF;
   --queen-blue: #577590;
}


@font-face {
   font-family: 'Rubik';
   src: url(../fonts/Rubik-Regular.ttf) format("truetype");
}

* {
   text-decoration: none;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
 
html {
   width: 100%;
   height: 100%;
   overflow-y: hidden;
   overflow-x: hidden;
   scroll-behavior: smooth;
}

body {
   width: 100%;
   height: 100%;
   background: var(--white);
   padding: 0;
   margin: 0;
   font-family: Rubik;
}

header {
   width: 100%;
   height: 85px;
   padding-top: 36px;
   padding-left: 140px;
   padding-right: 140px;
   font-family: Rubik;
}

.siteHeader {
   width: 100%;
}

#sayHi {
   border: solid var(--orange-red-crayola) 1px;
   color: var(--orange-red-crayola);
   border-radius: 10px;
   padding: 9px 8px;
   transition: background-color 1s;
}

#sayHi:hover {
   border: solid var(--orange-red-crayola) 1px;
   color: var(--say-hi-hover);
   background-color: var(--orange-red-crayola);
}

#sayHi:active {
   border: solid var(--orange-red-crayola) 1px;
   color: var(--say-hi-hover);
   background: var(--orange-red-crayola);
}

a:-webkit-any-link {
   color: var(--eerie-black);
   cursor: pointer;
}

li {
   display: list-item;
   list-style-type: none;
}

.siteLogo a {
   color: var(--orange-red-crayola);
}

#menu {
   width: 100%;
   height: 45px;
   margin-right: 0;
}

h3 {
   width: 10%;
   margin: 0;
   padding: 0;
   display: inline-block;
}

#leftMenu {
   width: 86%;
   height: 45px;
   display: inline-block;
   text-align: right;
}

#leftMenu a {
   margin: 9px;
}